<div class="wrapper d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
                <div class="card rounded-card">
                    <div class="card-header py-1 bg-white">
                        <div class="d-flex align-items-center">
                            <img src="/imgs/logo.png" alt="Logo" class="logo-sm mr-1" />
                            <p class="m-0 small font-weight-bold">{{appName}}</p>
                        </div>
                    </div>
                    <div class="card-body">
                        {{> flashMessage}}
                        {{#if isValidSession}}
                        <div class="text-center mb-4">
                            <h6 class="mb-4">
                                Allow <strong>{{app.name}}</strong> to connect to your public profile?
                            </h6>
                            <p class="text-muted small">{{app.name}} will have access to your public profile data</p>
                        </div>
                        {{else}}
                        <div class="text-center py-5">
                            <p class="small text-muted">
                                This link might be broken or your session has expired. Click on login, to restart the
                                process.
                            </p>

                            <a href="/login?client={{client}}" class="btn btn-full">
                                Login
                            </a>
                        </div>
                        {{/if}}
                    </div>

                    {{#if isValidSession}}
                    <div class="card-footer bg-white">
                        <div class="d-flex justify-content-end">
                            <a href="/login?client={{client}}" class="btn btn-light btn-sm mr-2">
                                Cancel
                            </a>
                            <form action="" method="post" class="form-inline m-0">
                                <input type="hidden" name="state" value="{{state}}">
                                <input type="hidden" name="client" value="{{client}}">
                                <button class="btn btn-sm btn-full" type="submit">
                                    Next
                                </button>
                            </form>
                        </div>
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>
